.left-side {
  flex: 30%;
  padding: 20px;

  .userProfileCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px#dcd3d3;;

    .userImage {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color:rgb(212, 206, 206);
    }
    .userName {
      padding-top: 10px;
    }
    .userIntroduction {
      padding: 10px;
      padding-bottom: 0;
      font-size: 0.8rem;
      line-height: 1.2rem;
    }
  }
}